/* src/pages/Home.css
.home-background {
    background-image: url('../../assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
