
.btn-primary {
    background-color: #f97316;
    color: white;
    text-align: center;
    font-weight: 500;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #000000;
}

.home-search {
    color: #1f2937;
    border-radius: 1.5rem;
    padding: 1rem 9rem;
    border: 2px solid transparent;
    transition: background-color 0.2s, border-color 0.2s;
}

.home-search:focus {
    outline: none;
    border-color: #f97316;
}

.input-field-primary {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #374151;
    color: #f9fafb;
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    transition: background-color 0.2s, border-color 0.2s;
}

.input-field-primary:hover {
    background-color: #4B5563;
}

.input-field-primary:focus {
    outline: none;
    border-color: #f97316;
}

.label-profile {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: #f9fafb;
    margin-bottom: 0.05rem;
}

.form-container {
    background-color: rgba(36, 38, 41, 0.90);
    border: 2px solid #F97316;
    border-radius: 1.5rem;
}

.home-background {
    background-image: url('../../assets/wl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding-top: 50px;
    flex-grow: 1;
    position: relative;
}

.nav-link {
    display: block;
    border-radius: 0.5rem;
    transition: color 0.4s;
    color: #ffff;
}

.nav-link.is-active {
    color: #f97316 !important;
}

.nav-link:hover {
    color: #f97316;
}

.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.content-wrap {
    padding-bottom: 3.5rem;
}

.swiper-button-next {
    width: 30px;
    height: 30px;
    background-size: 20px;
    margin-right: -18px;
    border-radius: 50%;
    z-index: 10;
}

.swiper-button-prev {
    width: 30px;
    height: 30px;
    background-size: 20px;
    margin-left: -18px;
    border-radius: 50%;
    z-index: 10;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 15px;
    color: #000000;
}

.thumbnail-container {
    width: 80%;
}

.thumbnail {
    cursor: pointer;
    width: 80%;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.review-text {
    white-space: pre-wrap;
    max-width: 600px;
}
