/* styles.css or main.css */
.btn-primary {
    background-color: #f97316; /* Orange-500 */
    color: white;
    text-align: center;
    font-weight: 500; /* Medium font weight */
    border-radius: 1rem; /* Rounded-2xl */
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

.btn-primary:hover {
    background-color: #000000; /* Black */
}

.home-search {
    color: #1f2937; /* text-gray-800 */
    border-radius: 1.5rem;
    padding: 1rem 9rem;
    border: 2px solid transparent; /* border-2 border-transparent */
    transition: background-color 0.2s, border-color 0.2s; 
}

.home-search:focus {
    outline: none; /* focus:outline-none */
    border-color: #f97316; /* focus:border-orange-500 */
}


.input-field-primary {
    margin-top: 0.5rem; /* mt-2 equivalent */
    width: 100%; /* w-full equivalent */
    background-color: #374151; /* bg-gray-700 */
    color: #f9fafb; /* text-gray-100 */
    border-radius: 1rem; /* rounded-2xl */
    padding: 0.5rem; /* p-2 */
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1); /* shadow-sm */
    border: 2px solid transparent; /* border-2 border-transparent */
    transition: background-color 0.2s, border-color 0.2s; /* Transition for hover and focus */
}

.input-field-primary:hover {
    background-color: #4B5563; /* hover:bg-gray-600 */
}

.input-field-primary:focus {
    outline: none; /* focus:outline-none */
    border-color: #f97316; /* focus:border-orange-500 */
}

.label-profile {
    display: block; /* block */
    text-align: center; /* text-center */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: #f9fafb; /* text-gray-100 */
    margin-bottom: 0.05rem; /* Adjust spacing below label */
}

.form-container {
    background-color: rgba(36, 38, 41, 0.90);
    border: 2px solid #F97316; /* Orange border */
    border-radius: 1.5rem; /* Rounded corners (3xl) */
}

.home-background {
    background-image: url('../../assets/wl.jpg'); /* Default background image */
    background-size: cover; /* Cover the container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    padding-top: 50px;
    flex-grow: 1; /* Allows the element to grow and fill available space */
    position: relative; 
    overflow: hidden;/* Relative positioning for child positioning */
}

/* General styles for nav-link */
.nav-link {
    display: block;
    border-radius: 0.5rem; /* rounded */
    transition: color 0.4s; /* transition-colors duration-400 */
    color: #ffff; /* Default color (black) */
}

/* Active state styles */
.nav-link.is-active {
    color: #f97316 !important; /* text-orange-500 !important */
}

/* Hover state styles */
.nav-link:hover {
    color: #f97316; /* hover:text-orange-500 */
}


.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
.content-wrap {
    padding-bottom: 3.5rem;    /* Footer height */
  }
  


